## Jagdeep Singh - Reading Data

In [6]:
import numpy as np
import pandas as pd

### Read in the datafile `MainBelt.csv`

In [7]:
cols = ["Name", "Magnitude", "Geo Albedo"]
mba_table = pd.read_csv('MainBelt.csv', skiprows = 9, 
                            names = cols, header = None)
mba_table

                               Name  Magnitude  Geo Albedo
0                           1 Ceres       3.34      0.0900
1                          2 Pallas       4.13      0.1587
2                            3 Juno       5.33      0.2383
3                           4 Vesta       3.20      0.4228
4                         5 Astraea       6.85      0.2268
5                            6 Hebe       5.71      0.2679
6                            7 Iris       5.51      0.2766
7                           8 Flora       6.49      0.2426
8                           9 Metis       6.28      0.1180
9                         10 Hygiea       5.43      0.0717
10                    11 Parthenope       6.55      0.1803
11                      12 Victoria       7.24      0.1765
12                        13 Egeria       6.74      0.0825
13                         14 Irene       6.30      0.1590
14                       15 Eunomia       5.28      0.2094
15                        16 Psyche       5.90      0.1203
16                        17 Thetis       7.76      0.1715
17                     18 Melpomene       6.51      0.2225
18                       19 Fortuna       7.13      0.0370
19                      20 Massalia       6.50      0.2096
20                       21 Lutetia       7.35      0.2212
21                      22 Kalliope       6.45      0.1419
22                        23 Thalia       6.95      0.2536
23                        24 Themis       7.08      0.0670
24                       25 Phocaea       7.83      0.2310
25                    26 Proserpina       7.40      0.1966
26                       27 Euterpe       7.00      0.1620
27                       28 Bellona       7.09      0.1763
28                    29 Amphitrite       5.85      0.1793
29                        30 Urania       7.57      0.1714
...                             ...        ...         ...
1996               21792 (1999 ST7)      13.10      0.0554
1997               21967 (1999 WS9)      12.20      0.0690
1998               22097 (2000 BH4)      12.20      0.0317
1999              22147 (2000 WP32)      13.40      0.0292
2000              22464 (1997 AG14)      13.00      0.0828
2001               22805 (1999 RR2)      12.50      0.1352
2002             22955 (1999 TH251)      12.90      0.0304
2003    23059 Paulpaino (1999 XT45)      14.50      0.0146
2004             23099 (1999 XA160)      11.60      0.0443
2005             23103 (1999 XK169)      12.90      0.0436
2006             23129 (2000 AO100)      11.90      0.0601
2007             23167 (2000 GL124)      13.00      0.1437
2008               23956 (1998 VD9)      13.00      0.0531
2009               23977 (1999 GW6)      13.00      0.0425
2010             24013 (1999 RR113)      13.10      0.1282
2011               24035 (1999 SJ2)      14.10      0.0512
2012              24127 (1999 VZ52)      11.40      0.0851
2013             24388 (2000 AB175)      11.90      0.0374
2014               24980 (1998 KF2)      13.70      0.0871
2015   25000 Astrometria (1998 OW5)      12.60      0.0311
2016              25343 (1999 RA44)      14.20      0.0252
2017              25453 (1999 XU11)      12.50      0.0957
2018             25699 (2000 AD127)      12.60      0.0346
2019              25785 (2000 CY45)      13.40      0.0238
2020              25843 (2000 EQ84)      13.30      0.0167
2021                26125 (1992 RG)      13.00      0.0975
2022               26171 (1996 BY2)      14.00      0.0480
2023               26260 (1998 RA2)      13.30      0.0670
2024              26604 (2000 FO25)      12.80      0.4331
2025             26662 (2000 WB181)      14.50      0.0186

[2026 rows x 3 columns]

### Write a function to compute the Diameters of the MBAs
 * The largest asteroid should be D ~ 1000 km

In [8]:
# function to get the diameter of an object using its albedo and magnitude
def find_diameter(albedo, magnitude):
    diameter = (1329 / np.sqrt(albedo)) * (10 ** (-0.2 * magnitude))
    return diameter

mba_table['Diameter'] = find_diameter(mba_table['Geo Albedo'], 
                                      mba_table['Magnitude'])
mba_table

                               Name  Magnitude  Geo Albedo    Diameter
0                           1 Ceres       3.34      0.0900  951.488900
1                          2 Pallas       4.13      0.1587  498.008227
2                            3 Juno       5.33      0.2383  233.863777
3                           4 Vesta       3.20      0.4228  468.228119
4                         5 Astraea       6.85      0.2268  119.042888
5                            6 Hebe       5.71      0.2679  185.156356
6                            7 Iris       5.51      0.2766  199.801568
7                           8 Flora       6.49      0.2426  135.856237
8                           9 Metis       6.28      0.1180  214.577399
9                         10 Hygiea       5.43      0.0717  407.160279
10                    11 Parthenope       6.55      0.1803  153.294692
11                      12 Victoria       7.24      0.1765  112.759366
12                        13 Egeria       6.74      0.0825  207.633778
13                         14 Irene       6.30      0.1590  183.158222
14                       15 Eunomia       5.28      0.2094  255.291669
15                        16 Psyche       5.90      0.1203  253.158298
16                        17 Thetis       7.76      0.1715   90.031175
17                     18 Melpomene       6.51      0.2225  140.559425
18                       19 Fortuna       7.13      0.0370  259.074172
19                      20 Massalia       6.50      0.2096  145.488726
20                       21 Lutetia       7.35      0.2212   95.748597
21                      22 Kalliope       6.45      0.1419  180.939666
22                        23 Thalia       6.95      0.2536  107.510370
23                        24 Themis       7.08      0.0670  197.009686
24                       25 Phocaea       7.83      0.2310   75.113672
25                    26 Proserpina       7.40      0.1966   99.250619
26                       27 Euterpe       7.00      0.1620  131.452083
27                       28 Bellona       7.09      0.1763  120.892351
28                    29 Amphitrite       5.85      0.1793  212.194848
29                        30 Urania       7.57      0.1714   98.292317
...                             ...        ...         ...         ...
1996               21792 (1999 ST7)      13.10      0.0554   13.544722
1997               21967 (1999 WS9)      12.20      0.0690   18.369631
1998               22097 (2000 BH4)      12.20      0.0317   27.101626
1999              22147 (2000 WP32)      13.40      0.0292   16.249259
2000              22464 (1997 AG14)      13.00      0.0828   11.601384
2001               22805 (1999 RR2)      12.50      0.1352   11.429747
2002             22955 (1999 TH251)      12.90      0.0304   20.048791
2003    23059 Paulpaino (1999 XT45)      14.50      0.0146   13.846772
2004             23099 (1999 XA160)      11.60      0.0443   30.221994
2005             23103 (1999 XK169)      12.90      0.0436   16.741013
2006             23129 (2000 AO100)      11.90      0.0601   22.598923
2007             23167 (2000 GL124)      13.00      0.1437    8.806363
2008               23956 (1998 VD9)      13.00      0.0531   14.486975
2009               23977 (1999 GW6)      13.00      0.0425   16.193119
2010             24013 (1999 RR113)      13.10      0.1282    8.903914
2011               24035 (1999 SJ2)      14.10      0.0512    8.889759
2012              24127 (1999 VZ52)      11.40      0.0851   23.908933
2013             24388 (2000 AB175)      11.90      0.0374   28.647662
2014               24980 (1998 KF2)      13.70      0.0871    8.194376
2015   25000 Astrometria (1998 OW5)      12.60      0.0311   22.758560
2016              25343 (1999 RA44)      14.20      0.0252   12.101096
2017              25453 (1999 XU11)      12.50      0.0957   13.585293
2018             25699 (2000 AD127)      12.60      0.0346   21.576795
2019              25785 (2000 CY45)      13.40      0.0238   17.998508
2020              25843 (2000 EQ84)      13.30      0.0167   22.499183
2021                26125 (1992 RG)      13.00      0.0975   10.691107
2022               26171 (1996 BY2)      14.00      0.0480    9.614005
2023               26260 (1998 RA2)      13.30      0.0670   11.232788
2024              26604 (2000 FO25)      12.80      0.4331    5.561999
2025             26662 (2000 WB181)      14.50      0.0186   12.267851

[2026 rows x 4 columns]

### Write a function to compute the Masses of the MBAs. Assume $\rho$ = 3,000 kg/m$^3$
* The most massive asteroid should be M ~ 1e21 kg

In [9]:
def find_mass(diameter):
    mass = 3000 * (1 / 6) * np.pi * ((diameter * 1000) ** 3)
    return mass

mba_table['Mass'] = find_mass(mba_table['Diameter'])
mba_table

,Name,Magnitude,Geo Albedo,Diameter,Mass
0,1 Ceres,3.34,0.0900,951.488900,1.353104e+21
1,2 Pallas,4.13,0.1587,498.008227,1.940124e+20
2,3 Juno,5.33,0.2383,233.863777,2.009133e+19
3,4 Vesta,3.20,0.4228,468.228119,1.612473e+20
4,5 Astraea,6.85,0.2268,119.042888,2.649905e+18
5,6 Hebe,5.71,0.2679,185.156356,9.970932e+18
6,7 Iris,5.51,0.2766,199.801568,1.252900e+19
7,8 Flora,6.49,0.2426,135.856237,3.938752e+18
8,9 Metis,6.28,0.1180,214.577399,1.551929e+19
9,10 Hygiea,5.43,0.0717,407.160279,1.060269e+20
10,11 Parthenope,6.55,0.1803,153.294692,5.658499e+18
11,12 Victoria,7.24,0.1765,112.759366,2.252049e+18
12,13 Egeria,6.74,0.0825,207.633778,1.406093e+19
13,14 Irene,6.30,0.1590,183.158222,9.651596e+18
14,15 Eunomia,5.28,0.2094,255.291669,2.613544e+19
15,16 Psyche,5.90,0.1203,253.158298,2.548569e+19
16,17 Thetis,7.76,0.1715,90.031175,1.146301e+18
17,18 Melpomene,6.51,0.2225,140.559425,4.362142e+18
18,19 Fortuna,7.13,0.0370,259.074172,2.731444e+19
19,20 Massalia,6.50,0.2096,145.488726,4.837354e+18
20,21 Lutetia,7.35,0.2212,95.748597,1.378850e+18
21,22 Kalliope,6.45,0.1419,180.939666,9.305104e+18
22,23 Thalia,6.95,0.2536,107.510370,1.951960e+18
23,24 Themis,7.08,0.0670,197.009686,1.201110e+19
24,25 Phocaea,7.83,0.2310,75.113672,6.656974e+17
25,26 Proserpina,7.40,0.1966,99.250619,1.535747e+18
26,27 Euterpe,7.00,0.1620,131.452083,3.567979e+18
27,28 Bellona,7.09,0.1763,120.892351,2.775341e+18
28,29 Amphitrite,5.85,0.1793,212.194848,1.500805e+19
29,30 Urania,7.57,0.1714,98.292317,1.491690e+18
...,...,...,...,...,...
1996,21792 (1999 ST7),13.10,0.0554,13.544722,3.903284e+15
1997,21967 (1999 WS9),12.20,0.0690,18.369631,9.736911e+15
1998,22097 (2000 BH4),12.20,0.0317,27.101626,3.126842e+16
1999,22147 (2000 WP32),13.40,0.0292,16.249259,6.739389e+15
2000,22464 (1997 AG14),13.00,0.0828,11.601384,2.452728e+15
2001,22805 (1999 RR2),12.50,0.1352,11.429747,2.345469e+15
2002,22955 (1999 TH251),12.90,0.0304,20.048791,1.265856e+16
2003,23059 Paulpaino (1999 XT45),14.50,0.0146,13.846772,4.170283e+15
2004,23099 (1999 XA160),11.60,0.0443,30.221994,4.336000e+16
2005,23103 (1999 XK169),12.90,0.0436,16.741013,7.369959e+15
2006,23129 (2000 AO100),11.90,0.0601,22.598923,1.812939e+16
2007,23167 (2000 GL124),13.00,0.1437,8.806363,1.072778e+15
2008,23956 (1998 VD9),13.00,0.0531,14.486975,4.775876e+15
2009,23977 (1999 GW6),13.00,0.0425,16.193119,6.669779e+15
2010,24013 (1999 RR113),13.10,0.1282,8.903914,1.108824e+15
2011,24035 (1999 SJ2),14.10,0.0512,8.889759,1.103545e+15
2012,24127 (1999 VZ52),11.40,0.0851,23.908933,2.146844e+16
2013,24388 (2000 AB175),11.90,0.0374,28.647662,3.693069e+16
2014,24980 (1998 KF2),13.70,0.0871,8.194376,8.643061e+14
2015,25000 Astrometria (1998 OW5),12.60,0.0311,22.758560,1.851630e+16
2016,25343 (1999 RA44),14.20,0.0252,12.101096,2.783518e+15
2017,25453 (1999 XU11),12.50,0.0957,13.585293,3.938464e+15
2018,25699 (2000 AD127),12.60,0.0346,21.576795,1.577904e+16
2019,25785 (2000 CY45),13.40,0.0238,17.998508,9.158606e+15
2020,25843 (2000 EQ84),13.30,0.0167,22.499183,1.789040e+16
2021,26125 (1992 RG),13.00,0.0975,10.691107,1.919499e+15
2022,26171 (1996 BY2),14.00,0.0480,9.614005,1.395831e+15
2023,26260 (1998 RA2),13.30,0.0670,11.232788,2.226295e+15
2024,26604 (2000 FO25),12.80,0.4331,5.561999,2.702791e+14
2025,26662 (2000 WB181),14.50,0.0186,12.267851,2.900183e+15

### List the names of the 5 most massive MBAs

In [10]:
mba_table.sort_values(['Mass'], ascending=False)[:5]

                        Name  Magnitude  Geo Albedo    Diameter          Mass
0                    1 Ceres       3.34      0.0900  951.488900  1.353104e+21
1                   2 Pallas       4.13      0.1587  498.008227  1.940124e+20
3                    4 Vesta       3.20      0.4228  468.228119  1.612473e+20
9                  10 Hygiea       5.43      0.0717  407.160279  1.060269e+20
445     511 Davida (1903 LU)       6.22      0.0540  326.082957  5.446333e+19

### List the names of the 5 least massive MBAs

In [11]:
mba_table.sort_values(['Mass'])[:5]

                           Name  Magnitude  Geo Albedo  Diameter          Mass
2024          26604 (2000 FO25)       12.8      0.4331  5.561999  2.702791e+14
1630     4335 Verona (1983 VC7)       13.3      0.2418  5.912850  3.247210e+14
1492    3338 Richter (1973 UX5)       14.2      0.1000  6.074702  3.521233e+14
1597      4121 Carlin (1986 JH)       12.6      0.4164  6.219703  3.779451e+14
1774    6295 Schmoll (1988 CF3)       14.0      0.1114  6.310770  3.947908e+14

### Determine the total mass of all of the MBAs

In [13]:
total_mass = mba_table['Mass'].sum()
total_mass

3.146177625451557e+21

### Determine the fraction of the total mass contained in the 5 largest MBAs

In [14]:
top_five_mass = mba_table.sort_values(['Mass'])[-5:]['Mass'].sum() 

top_five_mass / total_mass

0.59400762222979508

### How does the total mass of the MBAs compare to the mass of the Moon ($7.35\ \times\ 10^{22}$ kg)?

In [15]:
total_mass / (7.35 * (10 ** 22))

0.042805137761245678

### How many MBAs does it take to get 90% of the total mass of the MBAs (start from the most massive)

In [25]:
x = mba_table.sort_values(['Mass'], ascending=False)['Mass'].cumsum() / total_mass
sum(float(num) <= 0.90 for num in x)

149

### Due Tue Oct 17 - 5pm
- `Make sure to change the filename to your name!`
- `Make sure to change the Title to your name!`
- `File -> Download as -> HTML (.html)`
- `upload your .html and .ipynb file to the class Canvas page`

***

## Absolute Magnitude, Size and Mass

The absolute magnitude **H** of a solar system object is the magnitude that it would have if it was 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. Remember, astronomical magnitudes are "backwards".  The magnitude of a bright object is *less* than the magnitude of a dimmer object.

The phase angle **$\theta$** in astronomical observations is the angle between the light incident onto an observed object and the light reflected from the object. In the context of astronomical observations, this is usually the angle $\angle$ Sun-object-observer.

![Phase Angle](images/Phase.jpg)

It is actually impossible for an object to be 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. The Sun and the Earth would occupy the same point.  However, this is the definition of **H**.  Please note, that the definition of absolute magnitude for solar system objects is *very* different from the definition of absolute magnitude used for stars.

The Absolute magnitude of an object is related to the physical size of the object via the equation:

$$\large D\ (\textrm{in km}) = \frac{1329}{\sqrt{A}}\  10^{-0.2H}$$

Where **D** is the diameter of the object in kilometers and **A** is the geometric albedo of the object. 

The geometric albedo **A** of an astronomical body is the ratio of its actual brightness at zero phase angle (i.e., as seen from the light source) to that of an idealized flat, fully reflecting, diffusively scattering disk with the same cross-section.

Perfect reflectors of light have A = 1 and perfect absorbers have **A** = 0. Typical asteroids have a wide range of values: 0.02 $<$ A $<$ 0.8.

Once we have the diameter of the object, we can determine the mass if we know the density ($\rho$).

$ \large \mathrm{Mass} = \rho \cdot \mathrm{Volume} = \rho \cdot \frac{4}{3} \pi r^3 \ = \ \rho \cdot \frac{1}{6} \pi D^3 $

This assumes that the object is spherical (this is **not** a very good assumption for asteroids).